include LICENSE
include README.md
include pyproject.toml

graft src/undisorder

global-exclude *.egg-info
global-exclude *.py[cod]
global-exclude __pycache__

exclude .gitignore
exclude Makefile
exclude constraints.txt
exclude mx.ini
exclude requirements.txt

prune build
prune dist
prune post
prune testing
prune tests
prune venv
prune .github
